body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "MitrBold";
  src: local("MitrBold"),
   url("./font/Mitr/Mitr-Medium.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "MitrLight";
  src: local("MitrLight"),
   url("./font/Mitr/Mitr-Light.ttf") format("truetype");
  font-weight: bold;
}
  
@font-face {
  font-family: "MitrRegular";
  src: local("MitrRegular"),
   url("./font/Mitr/Mitr-Regular.ttf") format("truetype");
  font-weight: bold;
}